/node_modules
/public/hot
/public/build
/public/storage
/storage/*.key
/storage/pail
/vendor
.env
.env.backup
.phpunit.result.cache
docker-compose.override.yml
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
/.idea
/.nova
/.vscode
/resources/ops/kubernetes/secret.yml
docs/.vitepress/dist
docs/.vitepress/cache